# =============== #
# Unity generated #
# =============== #
Temp/
Library/
ProjectSettings/ProjectVersion.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============== #
# IDEA generated #
# ============== #
.idea/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore plugins for the project
# DO NOT COPY THIS ONE
Assets/Plugins/